<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Image and video access -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Audio access -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:theme="@style/AppTheme"
        android:label="My Video Editor"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Home screen -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- Format / Aspect Ratio screen -->

        <activity
            android:name=".create.FormatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Media source screen -->

        <activity
            android:name=".create.MediaSourceActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Colors screen -->

        <activity
            android:name=".create.ColorsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Folder media screen -->

        <activity
            android:name=".create.FolderMediaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Editor screen -->

        <activity
            android:name=".editor.EditorActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

    </application>

</manifest>
